<div class="col-sm product-container">
  <form (ngSubmit)="submitForm()">
    <a routerLink="/productdetails" (click)="showProductDetails(item)">
      <img
        [src]="item.url"
        width="200"
        height="200"
        class="rounded float-center product-image"
      />
    </a>

    <ul class="list-group">
      <li class="list-group-item">name: {{ item.name }}</li>
      <li class="list-group-item">price : {{ item.price }}</li>
    </ul>

    <select class = "select-input" name="items" id="items" [(ngModel)]="selectedValue">
      <option *ngFor="let q of quantity" value="{{ q }}">
        {{ q }}
      </option>
    </select>
    <br /><br />
    <input type="submit" class="btn btn-primary" value="Add To Cart" />
  </form>
</div>
<ng-content></ng-content>
